<div class="sidebar">
    <div class="main-content">
        <div class="profile">
            <div class="img-contianer">
                <img src="/profile.svg" alt="user pfp">
            </div>
        
            <div class="info-container">
                <p class="profile-name">John Doe</p>
                <p class="profile-department">OSDS</p>
            </div>

        </div>

        <div class="routes">
            <button>
                <img src="/forms.svg" alt="applicant forms img">

                <div class="button-title">
                    <span>Applicant</span>
                    <span>Forms</span>
                </div>
        
            </button>
        </div>
    </div>

</div>